<div class="main-content">
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis
    consectetur, distinctio vitae iure tenetur eos, id sed est quaerat
    perferendis quia fuga quibusdam harum error architecto accusantium eveniet
    libero magnam.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis
    consectetur, distinctio vitae iure tenetur eos, id sed est quaerat
    perferendis quia fuga quibusdam harum error architecto accusantium eveniet
    libero magnam.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis
    consectetur, distinctio vitae iure tenetur eos, id sed est quaerat
    perferendis quia fuga quibusdam harum error architecto accusantium eveniet
    libero magnam.
  </p>
</div>
